@tailwind base;
@tailwind components;
@tailwind utilities;

/* minimál tipográfia */
html, body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji";
  color: #111827;
  background: #fff;
}
a { color: #1d4ed8; }
